.progressBar {
    margin: 20px 0;
}
.progressBar .line {
    height: 20px;
    background-color: goldenrod;
    border-radius: 4px;
    transition: width .3s ease;
    margin-bottom: 10px;
}
.progressBar .text {
    text-align: center;
}
